{% extends 'base.html' %}

{% block title %}Профайл пользователя {{ author.username }}{% endblock %}

{% block content %}
{% load thumbnail %}

  <h1>Все посты пользователя  {{ author.username }}</h1>
  <h4>Всего постов:  {{ page_obj.paginator.object_list|length }}</h4>
  <h4>Подписчиков:  {{ author.following.count }}</h4>

  {% if user != author %}
  {% if following %}
    <a class="btn btn-lg btn-outline-primary" href="{% url 'posts:profile_unfollow' author.username %}" role="button">
      Отписаться
    </a>
  {% else %}
    <a class="btn btn-lg btn-primary" href="{% url 'posts:profile_follow' author.username %}" role="button">
      Подписаться
    </a>
  {% endif %}
  {% endif %}

  {% for post in page_obj %}

    {% include 'posts/includes/post.html' %}

  {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}

{% include 'posts/includes/paginator.html' %}
{% endblock %}
